/**
 * -----------------------------------------------------------------------------
 * $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * Variables used to configure styles.
 */

$editor-border-color: #f2f3f5;
$editor-min-height: 275px;

$resizer-background-color: #f2f3f5;
$resizer-color: #333;
$resizer-height: 30px;

$toolbar-background-color: #2f3129;
$toolbar-color: #aec3ce;
$toolbar-height: 40px;

$toolbar-active-color: #fff;