@{ 
    Style.Require("EditorStyles");
    Script.Require("EditorJs");
}

<p style="margin-bottom: .3em;"><button type="button" class="js-launch-medium-editor">Open Simple Editor</button></p>

<div class="editor editor--ace">
    @Html.TextArea("Text", (string)Model.Text, 25, 80,
     new Dictionary<string, object> {
        {"id", "editor"},
        {"style", "width:100%"}
     })
</div>

<div class="editor editor--medium js-editor-medium" style="display: none;">
    <iframe src="/Admin/Editor" class="editor__embed js-editor-medium-iframe" frameborder="0"></iframe>
</div>

@Html.Hidden("MediaPath", (string)Model.ContentItem.ContentType)

@Html.Hidden("Text", (string)Model.Text, new Dictionary<string, object> {
    {"class", "editor-input"}
})