/**
 * -----------------------------------------------------------------------------
 * $EDITOR
 * -----------------------------------------------------------------------------
 */

/**
 * Styling for the main editor container as well as containers for
 * the different third party editors.
 */

.editor {
    min-height: $editor-min-height;
    position: relative;
    z-index: 10;

    /**
     * 1. Ensures active dialogs overlap any other instances of the editor.
     */
    &.has-active-dialog {
        z-index: 15; /* 1. */
    }

    /**
     * 1. Editor uses inline styles to set the height when user resizes the editor.
     */
    &.is-fullscreen {
        left: 0;
        height: 100%!important; /* 1. */
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50;
    }
}

    .editor__code,
    .editor__visual {
        bottom: $resizer-height;
        left: 0;
        position: absolute;
        right: 0;
        top: $toolbar-height;

        .is-fullscreen & {
            bottom: 0;
        }
    }

    .editor__code {
        display: block;
        z-index: 80;
        overflow-y: scroll;
        overflow-x: hidden;
    }

        .editor__code .ace_editor {
            bottom: 0;
            left: 0;
            margin: 0;
            position: absolute;
            right: 0;
            top: 0;
            min-height: 100%;

            border-radius: 0;
        }

    .editor__visual {
        display: none;
        z-index: 100;

        background-color: white;
        border: 1px solid $editor-border-color;

        .is-visual-editor & {
            display: block;
        }
    }

        .editor__visual-embed {
            border: 0;
            display: block;
            height: 100%;
            width: 100%;
        }