/**
 * -----------------------------------------------------------------------------
 * $EDITOR
 * -----------------------------------------------------------------------------
 */

/**
 * Styling for the main editor container as well as containers for
 * the different third party editors.
 */

.editor {
    min-height: $editor-min-height;
    position: relative;
}

    .editor__code,
    .editor__visual {
        bottom: $resizer-height;
        left: 0;
        position: absolute;
        right: 0;
        top: $toolbar-height;
    }

    .editor__code {
        display: block;
        z-index: 80;
    }

        .editor__code .ace_editor {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

    .editor__visual {
        background-color: white;

        display: none;
        z-index: 100;

        .is-visual-editor & {
            display: block;
        }
    }

        .editor__visual-embed {
            border: 0;
            display: block;
            height: 100%;
            width: 100%;
        }