/**
 * -----------------------------------------------------------------------------
 * $MEDIUM
 * -----------------------------------------------------------------------------
 */

/**
 * Styling for the medium editor.
 */

.medium-editor {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    width: 100%;
}

    /* Selector is enforced on us by medium editor library. */
    .medium-editor-element {
        outline: none;
    }

.medium-editor-placeholder:after {
    width: 100%;
    max-width: 900px;
    padding-left: $editor-placeholder-padding;
    padding-right: $editor-placeholder-padding;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -60px;
}