@{
    Script.Require("EditorEmbedJs").AtFoot();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="/Modules/Moov2.Orchard.Editor/styles/medium/medium-editor.css" rel="stylesheet" type="text/css">
    <link href="/Modules/Moov2.Orchard.Editor/styles/medium/themes/default.css" rel="stylesheet" type="text/css">
    <link href="/Modules/Moov2.Orchard.Editor/Styles/Styles.Medium.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="medium-editor">
        <textarea class="js-editor-medium-element"></textarea>
    </div>

    <script src="/Modules/Moov2.Orchard.Editor/Scripts/medium/medium-editor.min.js"></script>
    <script src="/Modules/Moov2.Orchard.Editor/Scripts/orchard.medium.embed.js"></script>
</body>
</html>
