@{
    Script.Require("MediumVendorJs").AtFoot();
    Script.Require("MediumInsertPluginJs").AtFoot();
    Script.Require("EditorEmbedJs").AtFoot();

    Style.Require("MediumInsertPluginCss");
    Style.Require("MediumVendorCss");
    Style.Require("MediumVendorCssTheme");
    Style.Require("EditorStyles");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @Display.StylesheetLinks()

    <link href="@string.Format("/Themes/{0}/Styles/Site.css", WorkContext.CurrentTheme.Path)" rel="stylesheet" type="text/css">

    @Display.HeadScripts()
</head>
<body>
    <div class="medium-editor">
        <textarea class="js-editor-medium-element"></textarea>
    </div>

    @Display.FootScripts()
</body>
</html>
